/* FONTS IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

/*SPECIAL DEFINING*/
:root {
    --erka: #411f89f1;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    text-align: center;
    box-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background: url("/img/bannerbg.png");
    background-position-x: 0px;
    background-position-y: 0px;

    background-size: auto 100vh;
    background-repeat: no-repeat;
}

.template {
    background-color: rgb(231, 231, 231);
    width: 100%;
    opacity: 0;
    animation: 1s fade ease forwards 1s;
}

.container {
    text-align: left;
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

nav {
    z-index: 2;
    text-align: left;
    padding: 5px;
    display: flex;
    flex-flow: row;
    flex-shrink: inherit;
    height: 60px;
    position: fixed;
    max-width: 1000px;
    width: 100%;
    top: 0px;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 0px 0px 10px 10px;

}

@supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    nav {
        background-color: rgba(255, 255, 255, .35);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

nav .headerLogo {
    height: 50px;
    opacity: 0;
    animation: 1s fade ease forwards .5s;
}

nav .navMenu {
    vertical-align: middle;
    margin: auto 0;
    width: 100%;
    text-align: right;
    display: inline-block;
}

nav .mobileNavMenu {
    display: none;
    margin: auto 0;
    width: 100%;
    text-align: right;
    opacity: 0;
    animation: 1s fade ease forwards 1s;
}

nav .navMenu a {
    margin: 0px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    opacity: 0;
}

nav .navMenu a:nth-child(1) {
    margin: 0px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    animation: 1s fade ease forwards 1s;
}

nav .navMenu a:nth-child(2) {
    margin: 0px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    animation: 1s fade ease forwards 1.3s;
}

nav .navMenu a:nth-child(3) {
    margin: 0px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    animation: 1s fade ease forwards 1.6s;
}

nav .navMenu a:last-child {
    margin-right: 0px;
}

.menuIcon {
    background: url("/img/menu.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 50px;
    float: right;
}

.mobilMenuList {
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    color: var(--erka);
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
}

.mobilMenuList a {
    color: var(--erka);
    text-decoration: none;
    margin: 5px;
}

.banner {
    display: flex;
}

.topBanner {
    padding-top: 60px;
}


.bannerTitle {
    margin: auto auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: left;
    min-width: 342px;
    opacity: 0;
    animation: 1s fade ease forwards 1.3s;
}

.bannerTitle ul {
    font-size: 20px;
    color: gray;
    font-weight: 400;
    list-style: none;
    opacity: 0;
    animation: 1s fade ease forwards 1.3s;
}

.bannerPic img {
    max-width: 350px;
    opacity: 0;
    animation: 1s fade ease forwards 1.6s;
}

#services {
    scroll-margin-top: 60px;
}

.servicesTitle {
    color: white;
    padding: 10px;
    background-color: var(--erka);
    width: 100%;
    font-weight: 800;
    font-size: 30px;
}

.services {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    flex-wrap: wrap;
    opacity: 0;
    animation: 1s fade ease forwards 1.3s;
}

.service {
    flex: 1;
    min-width: 200px;
    margin: 5px;
}

.serviceTitle {
    font-weight: bold;
}

.serviceImg {
    width: 100%;
    border-radius: 20px;
}

.warningPurple {
    margin-top: 30px;
    border-radius: 5px;
    color: white;
    padding: 20px;
    background-image: url("/img/info.png");
    background-color: var(--erka);
    background-position-x: right;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 200px;
    opacity: 0;
    animation: 1s fade ease forwards 1s;

}

#about {
    background: url("/img/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 300px;
}

.aboutCards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutCard {
    flex: 1;
    margin: 5px;
    min-width: 200px;
    width: 100%;
}

.whoarewe {
    width: 100%;
    background-size: contain;
    background-position: right;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 30px, rgba(255, 255, 255, 1)), url("/img/whoarewe.png");
    padding: 50px 5px 20px 5px;
    text-align: center;
}

.whoareweTop {
    text-align: center;
}

.whoareweTitle {
    font-weight: 800;
    font-size: 30px;
}

.whoareweSubtitle {
    margin: auto;
    width: 300px;
    border-top: 1px solid black;
}

.whoareweTemplate {
    display: flex;
    flex-basis: 200px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}

.person {
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    max-width: 200px;
    margin: 10px;
    opacity: 1;
    transition: all 0.5s;
}

.personImg {
    border-radius: 10px;
    width: 180px;
    height: 260px;
}

.personName {
    font-weight: 800;
    font-size: 15px;
    color: var(--erka);
}

.personJob {
    font-size: 12px;
    color: rgb(83, 80, 80);
}

/* KEYFRAMES */

@keyframes fade {
    to {
        opacity: 1;
    }
}


/*MOBILE DESIGN*/
@media only screen and (max-width: 800px) {
    .bannerPic img {
        display: none;
    }

    .banner {
        padding: 5px;
    }

    nav .navMenu {
        vertical-align: middle;
        margin: auto 0;
        width: 100%;
        text-align: right;
        display: none;
    }

    nav .mobileNavMenu {
        display: inline-block;
        margin: auto 0;
        width: 100%;
        text-align: right;
    }

    .warningPurple {
        border-radius: 0px;
    }

    #about {
        padding: 300px 5px 20px 5px;
        text-align: justify;
        background-position: center;
    }
}